doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    title Noggalito's Briefing
    link(rel="stylesheet", href="/assets/css/styles.css")
  body
    block content
    
    script(src="/assets/js/modernizr.custom.js")
    script(src="/assets/js/min/app.js")
    script(src="/assets/js/form.js")
